.game-group-card{
  margin: 0 0 30px;
  padding: 30px;
  background-color: $dark-grey-color;

  .group-name {  
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    .group-name-l{

      color: $dark-grey-color;
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      position: absolute;
      z-index: 9;
      left: 24px;
      top: 9px;
    }
    .group-name-bg{
      position: absolute;
      color: $green-color;
      font-size: 70px;
      top: -12px;
      height: 60px;
    }
  }
}

.search-result-card{

  margin: 0 0 30px;
  padding: 30px;
  background-color: $dark-grey-color;
  .search-result-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    h2{
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white-color;
    }
    h4{
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #afafaf;
    }
  }
}

.game-list{
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  .game-item{
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #afafaf;
  }
}